h1{
    font-size: 1.5rem;
    color: white;
    margin-left: 15px;
  }

  nav div .navbar-collapse {
    margin-left: 20px;
  }
  
  .sticky-btn{
    width: 150px;
    position:sticky;
    margin-top: 100px;
    margin-left: 93%;
    transform: rotate(-90deg);
  }
  .sticky-btn button a{
    text-decoration: none;
    color: black;
  }
  .about{
    margin-top: 50px;
    padding: 0 20px;
  }
  h2{
    margin-left: 20px;
  }
  .container1{
    padding: 0 30px;
  }
  .bi-whatsapp  {
    filter: invert(100%);
  }
  .bi-instagram{
    filter: invert(100%);
  }
  .bi-facebook{
    filter: invert(100%);
  }
.detail-pripol{
 margin-top: 50px;
 padding: 0 30px;
}
.contact{
  font-size: 2.5rem;
  font-weight: bolder;
  margin-left: 50px;
  margin-top: 30px;
}
.name, .address, .mail ,.call{
  font-size: 1.5rem;
  font-weight: bolder;
  margin-left: 50px;
}
.name{
  font-size: 2.5rem;
}
.card{
  margin-bottom: 10px;
}
.btn-link{
  text-decoration: none;
  color: black;
}
.faq{
  padding: 20px 0;
}
.about-foot{
  margin-left: 50px;
}
.navbar-toggler{
  filter: invert(100%);
}
.courses{
  padding: 5px 10px;
  box-shadow:   5px 5px 5px 5px #a5a4a470;
}
@media (min-width:600px) {
  .logo{
    width:600px;
    height:600px;
  }
}
.team{
  padding: 10px 0;
}
.search-items{
  /* display: none; */
  background-color: white;

}
div .search-items ul li a{
text-decoration: none;
color: black;

text-align: center;
}
div .search-items ul li{

  list-style: none;
}
.search-items ul{
  padding: 10px 5px;
}
.remove{
  display: none;
}
.testimonials{
 padding: 30px 20px;
 margin-top: 10 px;
  background-color: rgb(3, 3, 100);
  
}
.our-team{
 padding: 30px 20px;
  margin-bottom: 50px;
  background-color:darkgoldenrod;
  
}


.card-body{
  padding: 10 20px;
}
.footerRegister{
text-decoration: none;
font-weight: bolder;
}
.buttonFooter{
  padding: 5px;
}
.footcont{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.heroes{
  margin-top: 0px;
}


/* slider starts here */
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  height: 350px;
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
  z-index: -2;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  padding: 20px;
  margin-top: 20px;
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
  /* margin-top: 1550px; */
  position: relative;
  margin-right: 200px;
}
.swiper-button-prev{
  left: 0;
  /* margin-top: 1550px; */
  position: relative;
  left:200px;
}
.swiper-pagination{
  position: relative;
  left:0px;
  overflow: visible;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
  
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
.card-content{
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.name{
  margin: 0;
  margin-left:0;
  color: white;
  font-weight: bolder;
  font-size:1.8rem;
}